.header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 25px;
  z-index: 10;

  &.scroll
  {
    background: white;
  }
}

.logo
{
  float: left;
  margin-left: 5px;
  margin-right: 25px;
  height: 80px;
  line-height: 80px;
  filter: drop-shadow(2px 2px rgba(0,0,0,0.25));

  img
  {
    display: inline-block;
    vertical-align: middle;
  }
}
.scroll .logo
{
  background: url(../images/logo-man-black.svg) no-repeat center center;
  filter: none;
  width: 41px;

  img
  {
    display: none;
  }
}

.menu-button
{
  display: none;
  float: right;
  font-size: 0;
  text-decoration: none;
  background: url(../images/mobile-menu.svg) no-repeat center center;
  width: 72px;
  height: 80px;
  margin-right: -25px;
  position: relative;
  z-index: 11;

  @media (max-width: 760px)
  {
    display: block;
  }
}
.scroll .menu-button
{
  background-image: url(../images/mobile-menu-black.svg);
}

.block--login
{
  float: right;
  margin-left: 25px;

  .login-button
  {
    @include condensed();
    font-size: 0.875em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: -25px;

    &
    {
      @media (max-width: 760px)
      {
        margin-right: 0;
      }
    }

    img
    {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 5px;
    }
  }
}
.scroll .block--login .login-button
{
  background: #26d0b6;
}

.block--main-menu
{
  &
  {
    @media (max-width: 760px)
    {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 72px;
      z-index: 10;
      background: black;
      padding: 35px;
      height: 100%;
      width: auto;
      overflow: auto;
    }
  }

  .content > .menu
  {
    text-align: center;

    & > li
    {
      margin: 0;
      padding: 0;
      display: inline-block;
      position: relative;

      &
      {
        @media (max-width: 760px)
        {
          display: block;
        }
      }

      & > a
      {
        @include condensed();
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: normal;
        padding: 0 10px;
        line-height: 80px;
        text-decoration: none;
        position: relative;

        &
        {
          @media (max-width: 840px)
          {
            padding: 0 8px;
          }
          @media (max-width: 760px)
          {
            line-height: 1;
            padding: 12px 0;
            color: white;
            text-align: left;
            font-weight: bold;
            font-size: 0.8em;
            border-bottom: 1px solid $teal;
            margin-bottom: 6px;
          }
        }

        &:hover
        {
          color: $teal;

          &:before
          {
            content: "";
            display: block;
            position: absolute;
            bottom: 25px;
            left: 10px;
            right: 10px;
            border-top: 1px solid $teal;

            &
            {
              @media (max-width: 760px)
              {
                display: none;
              }
            }
          }
        }
      }
      & > ul
      {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        list-style: none;
        background: black;
        padding: 6px 0;
        min-width: 240px;

        &
        {
          @media (max-width: 760px)
          {
            display: block;
            position: static;
            margin-bottom: 6px;
            min-width: 0;
          }
        }

        & > li
        {
          display: block;
          padding: 0;
          margin: 0;

          & > a
          {
            @include condensed();
            color: white;
            text-decoration: none;
            font-size: 0.8em;
            display: block;
            line-height: 1;
            padding: 6px 20px;
            font-weight: bold;

            &:hover
            {
              color: $teal;
            }
            &
            {
              @media (max-width: 760px)
              {
                padding-right: 0;
              }
            }
          }
          ul
          {
            display: none;
          }
        }
      }
      &:hover > ul
      {
        display: block;
      }
    }
  }
}
.scroll .block--main-menu .content > .menu > li > a
{
  color: black;

  &
  {
    @media (max-width: 760px)
    {
      color: white;
    }
  }

  &:hover
  {
    color: $teal;
  }
}
.menu-open .block--main-menu
{
  display: block;
}
.menu-open .page-wrapper
{
  @media (max-width: 760px)
  {
    &:before
    {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 72px;
      bottom: 0;
      background: black;
      z-index: 10;
      opacity: 0.5;
    }
  }
}
