@font-face {
  font-family: 'dirty_egoregular';
  src: url("../fonts/dirtyego/dirtyego-webfont.eot");
  src: url("../fonts/dirtyego/dirtyego-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dirtyego/dirtyego-webfont.svg#dirty_egoregular") format("svg"), url("../fonts/dirtyego/dirtyego-webfont.woff") format("woff"), url("../fonts/dirtyego/dirtyego-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/screen.scss */
body {
  font-family: sans-serif;
  font-size: 16px;
  background: #0d0d0d;
  color: white;
  font-family: "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-weight: 300;
}

/* line 32, ../sass/screen.scss */
p {
  margin-bottom: 0.8em;
}

/* line 37, ../sass/screen.scss */
tbody {
  border-top: 0;
}

/* line 44, ../sass/screen.scss */
a,
a:visited,
li a.active {
  color: #bfe962;
  text-decoration: none;
}

/* line 49, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 61, ../sass/screen.scss */
a.green-button,
button.green-button,
input.green-button {
  display: block;
  width: 159px;
  padding: 16px 16px 16px 17px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  background: url(../images/green-button.png) no-repeat;
  text-decoration: none;
  cursor: pointer;
  margin: -16px -16px -16px -17px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border: 0;
  box-sizing: initial;
  -moz-box-sizing: initial;
  -webkit-box-sizing: initial;
}

/* line 83, ../sass/screen.scss */
#page-wrapper {
  width: 100%;
  overflow: hidden;
}

/* line 95, ../sass/screen.scss */
#header,
#navigation,
#main-wrapper,
#widgets,
#widgets2,
#footer {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 100, ../sass/screen.scss */
#header > div,
#navigation > div,
#main-wrapper > div,
#widgets > div,
#widgets2 > div,
#footer > div {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 110, ../sass/screen.scss */
.block-menu-block ul,
.block-menu ul {
  list-style: none;
}
/* line 114, ../sass/screen.scss */
.block-menu-block ul li,
.block-menu ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
/* line 122, ../sass/screen.scss */
.block-menu-block ul li a,
.block-menu ul li a {
  color: white;
  text-decoration: none;
}
/* line 127, ../sass/screen.scss */
.block-menu-block ul li a:hover,
.block-menu ul li a:hover {
  color: #bfe962;
}

/* line 135, ../sass/screen.scss */
#block-block-3 a {
  display: block;
  height: 41px;
  width: 41px;
  display: none;
  background: url(../images/mobile-menu.png) no-repeat;
}
/* line 143, ../sass/screen.scss */
#block-block-3 a:hover {
  background-image: url(../images/mobile-menu-hover.png);
}

/* line 149, ../sass/screen.scss */
#block-menu-block-1 {
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 155, ../sass/screen.scss */
#block-menu-block-1 ul li {
  margin-left: 10px;
}
/* line 160, ../sass/screen.scss */
#block-menu-block-1 a {
  font-size: 0;
  color: transparent;
  display: block;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
}
/* line 169, ../sass/screen.scss */
#block-menu-block-1 a.facebook {
  background-image: url(../images/facebook.png);
}
/* line 173, ../sass/screen.scss */
#block-menu-block-1 a.facebook:hover {
  background-image: url(../images/facebook-hover.png);
}
/* line 179, ../sass/screen.scss */
#block-menu-block-1 a.twitter {
  background-image: url(../images/twitter.png);
}
/* line 183, ../sass/screen.scss */
#block-menu-block-1 a.twitter:hover {
  background-image: url(../images/twitter-hover.png);
}
/* line 189, ../sass/screen.scss */
#block-menu-block-1 a.youtube {
  background-image: url(../images/youtube.png);
}
/* line 193, ../sass/screen.scss */
#block-menu-block-1 a.youtube:hover {
  background-image: url(../images/youtube-hover.png);
}

/* line 201, ../sass/screen.scss */
#block-system-main-menu .content {
  height: 50px;
}
/* line 207, ../sass/screen.scss */
#block-system-main-menu .content > ul > li {
  font-size: 17px;
  margin-right: 33px;
  position: relative;
}
/* line 213, ../sass/screen.scss */
#block-system-main-menu .content > ul > li.last {
  margin-right: 0;
}
/* line 220, ../sass/screen.scss */
#block-system-main-menu .content > ul > li:hover.expanded:before {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -3px;
  display: block;
  content: " ";
  border-bottom: 7px solid rgba(147, 192, 48, 0.97);
  border-bottom: 7px solid #bfe962;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  z-index: 101;
}
/* line 235, ../sass/screen.scss */
#block-system-main-menu .content > ul > li:hover ul {
  display: block;
}
/* line 241, ../sass/screen.scss */
#block-system-main-menu .content > ul > li a {
  line-height: 50px;
  display: block;
}
/* line 246, ../sass/screen.scss */
#block-system-main-menu .content > ul > li a:hover {
  text-decoration: none;
}
/* line 252, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 185px;
  padding: 8px 0;
  z-index: 100;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
/* line 264, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #93c030;
  background: -moz-linear-gradient(top, #bfe962 0%, #7fb013 100%);
  background: -webkit-linear-gradient(top, #bfe962 0%, #7fb013 100%);
  background: linear-gradient(to bottom, #bfe962 0%, #7fb013 100%);
  z-index: -1;
  opacity: 0.95;
  border-radius: 3px;
}
/* line 282, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li {
  float: none;
  margin: 0;
  border-top: 1px solid rgba(50, 73, 0, 0.13);
  font-weight: 400;
}
/* line 289, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li.last {
  border-bottom: 1px solid rgba(255, 255, 255, 0.085);
}
/* line 293, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li.last a {
  border-bottom: 1px solid rgba(50, 73, 0, 0.13);
}
/* line 299, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a {
  color: black;
  line-height: 28px;
  padding: 0 12px;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.085);
}
/* line 307, ../sass/screen.scss */
#block-system-main-menu .content > ul > li ul li a:hover {
  color: #bfe962;
  background: url(../images/menu-hover.png) repeat-x;
}
/* line 316, ../sass/screen.scss */
#block-system-main-menu .content > ul > li .about ~ ul {
  left: -28px;
}

/* line 324, ../sass/screen.scss */
#header {
  padding-top: 10px;
  padding-bottom: 20px;
  background: url(../images/slate1.png) repeat;
}

/* line 330, ../sass/screen.scss */
#header:after {
  display: block;
  content: " ";
  clear: both;
}

/* line 336, ../sass/screen.scss */
#header > div > div {
  position: relative;
  z-index: 2;
}

/* line 342, ../sass/screen.scss */
#header > div:before {
  display: block;
  content: " ";
  width: 942px;
  height: 202px;
  background: url(../images/highlight-header.png) no-repeat;
  z-index: 0;
  position: absolute;
  left: -300px;
  top: -10px;
}

/* line 354, ../sass/screen.scss */
#header > div:after {
  display: block;
  content: " ";
  width: 561px;
  height: 561px;
  background: url(../images/logoman-watermark.png) no-repeat;
  z-index: 0;
  position: absolute;
  right: -130px;
  top: -65px;
  opacity: 0.7;
}

/* line 368, ../sass/screen.scss */
#slogan {
  clear: both;
  margin-top: 10px;
  position: relative;
}
/* line 374, ../sass/screen.scss */
#slogan .text {
  position: absolute;
  font-size: 52px;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
  line-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 387, ../sass/screen.scss */
#slogan .text > div {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 398, ../sass/screen.scss */
#slogan .text > div > div {
  vertical-align: middle;
  display: table-cell;
}
/* line 406, ../sass/screen.scss */
#slogan .image img {
  box-shadow: 0 0 30px black;
  width: 100%;
}

/* line 413, ../sass/screen.scss */
#main-wrapper {
  clear: both;
  background: url(../images/slate2.png);
  position: relative;
}
/* line 419, ../sass/screen.scss */
#main-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}
/* line 432, ../sass/screen.scss */
#main-wrapper > div {
  padding: 30px 0;
  overflow: hidden;
}

/* line 439, ../sass/screen.scss */
.front #main-wrapper > div {
  background: url(../images/weightlifter.png) no-repeat bottom right;
}

/* line 444, ../sass/screen.scss */
#footer {
  clear: both;
  background: url(../images/highlight-section-top.png) no-repeat top center;
  padding: 40px 10px 150px 10px;
}
/* line 450, ../sass/screen.scss */
#footer #copyright {
  float: left;
  clear: left;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #878787;
  color: #878787;
  font-size: 10px;
  line-height: 100%;
}
/* line 462, ../sass/screen.scss */
#footer #site-by-cci {
  float: left;
  color: #878787;
  font-size: 10px;
  line-height: 100%;
}
/* line 469, ../sass/screen.scss */
#footer #site-by-cci a {
  color: #878787;
}
/* line 473, ../sass/screen.scss */
#footer #site-by-cci a:hover {
  color: #bfe962;
}
/* line 482, ../sass/screen.scss */
#footer #block-block-4 p {
  margin: 0;
}
/* line 487, ../sass/screen.scss */
#footer #block-block-4 a {
  float: right;
  display: block;
  width: 66px;
  height: 66px;
  background: url(../images/logoman-small.png) no-repeat;
  font-size: 0;
  color: transparent;
}
/* line 497, ../sass/screen.scss */
#footer #block-block-4 a:hover {
  background-image: url(../images/logoman-small-hover.png);
}

/* line 504, ../sass/screen.scss */
#block-menu-block-3 {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 509, ../sass/screen.scss */
#block-menu-block-3 li {
  margin-right: 16px;
}
/* line 513, ../sass/screen.scss */
#block-menu-block-3 li a {
  color: #878787;
  font-size: 15px;
  font-weight: 400;
}
/* line 519, ../sass/screen.scss */
#block-menu-block-3 li a:hover {
  color: #bfe962;
}

/* line 529, ../sass/screen.scss */
#logo img {
  max-width: 100%;
}
/* line 534, ../sass/screen.scss */
#logo img.white {
  display: none;
}
/* line 541, ../sass/screen.scss */
#logo:hover img.green {
  display: none;
}
/* line 546, ../sass/screen.scss */
#logo:hover img.white {
  display: inline;
}

/* line 553, ../sass/screen.scss */
#page-title {
  color: #bfe962;
  font-family: "dirty_egoregular", "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 75px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}

/* line 564, ../sass/screen.scss */
#block-system-main {
  text-shadow: 1px 1px 2px black;
}
/* line 568, ../sass/screen.scss */
#block-system-main img {
  max-width: 100%;
}
/* line 573, ../sass/screen.scss */
#block-system-main h2 {
  text-transform: uppercase;
  color: #808080;
  font-size: 17px;
  font-weight: 400;
  padding-left: 35px;
  background: url(../images/logoman-icon.png) no-repeat left center;
  line-height: 23px;
  margin-bottom: 25px;
}
/* line 585, ../sass/screen.scss */
#block-system-main h3 {
  font-family: "dirty_egoregular";
  font-size: 26px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #bfe962;
  margin-bottom: 8px;
}
/* line 595, ../sass/screen.scss */
#block-system-main table.black {
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
/* line 603, ../sass/screen.scss */
#block-system-main table.black tbody {
  border: 0;
}
/* line 608, ../sass/screen.scss */
#block-system-main table.black td, #block-system-main table.black th {
  background-color: #1a1a1a;
  text-align: center;
  padding: 12px;
  width: 25%;
  vertical-align: top;
}
/* line 616, ../sass/screen.scss */
#block-system-main table.black td span, #block-system-main table.black th span {
  font-size: 12px;
  color: white;
  font-weight: normal;
}
/* line 624, ../sass/screen.scss */
#block-system-main table.black th {
  color: #bfe962;
  border-bottom: 0;
}
/* line 631, ../sass/screen.scss */
#block-system-main #node-2 table.black {
  width: 49%;
  margin-right: 1%;
  margin-bottom: 20px;
  float: left;
  display: block;
}
/* line 639, ../sass/screen.scss */
#block-system-main #node-2 table.black td {
  height: 38px;
}
/* line 643, ../sass/screen.scss */
#block-system-main #node-2 table.black th {
  height: 57px;
}
/* line 649, ../sass/screen.scss */
#block-system-main .glow {
  position: relative;
  padding-top: 40px;
}
/* line 654, ../sass/screen.scss */
#block-system-main .glow:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}
/* line 668, ../sass/screen.scss */
#block-system-main .box {
  padding: 20px 25px;
  background: rgba(255, 255, 255, 0.04);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.02);
  border-bottom: 2px solid rgba(255, 255, 255, 0.02);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
/* line 678, ../sass/screen.scss */
#block-system-main ul, #block-system-main ol {
  margin-left: 20px;
  list-style-image: url(../images/bullet.png);
}

/* line 685, ../sass/screen.scss */
#widgets {
  display: none;
}

/* line 689, ../sass/screen.scss */
.front #widgets {
  display: block;
}

/* line 695, ../sass/screen.scss */
#widgets,
#widgets2 {
  background: url(../images/slate1.png) repeat;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  clear: both;
}
/* line 703, ../sass/screen.scss */
#widgets h2,
#widgets2 h2 {
  text-transform: uppercase;
  color: #808080;
  font-size: 17px;
  font-weight: 400;
  padding-left: 35px;
  background: url(../images/logoman-icon.png) no-repeat left center;
  line-height: 23px;
  margin-bottom: 25px;
}
/* line 715, ../sass/screen.scss */
#widgets:before,
#widgets2:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}

/* line 729, ../sass/screen.scss */
#widgets .views-row {
  width: 30%;
  margin-right: 5%;
  float: left;
  background: url(../images/slate2.png) repeat;
}
/* line 736, ../sass/screen.scss */
#widgets .views-row.views-row-last {
  margin-right: 0;
}
/* line 741, ../sass/screen.scss */
#widgets .views-row > div {
  padding: 20px 25px 60px 25px;
  position: relative;
  min-height: 150px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.02);
  border-bottom: 2px solid rgba(255, 255, 255, 0.02);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
/* line 752, ../sass/screen.scss */
#widgets .views-row .views-field-title {
  margin-bottom: 10px;
}
/* line 756, ../sass/screen.scss */
#widgets .views-row .views-field-title a {
  font-family: "dirty_egoregular";
  font-size: 26px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* line 765, ../sass/screen.scss */
#widgets .views-row .green-button {
  position: absolute;
  bottom: 20px;
  left: 25px;
  z-index: 1;
}

/* line 774, ../sass/screen.scss */
.region-widgets2 {
  position: relative;
  z-index: 1;
}

/* line 782, ../sass/screen.scss */
#widgets2 > div:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -255px;
  left: -130px;
  width: 561px;
  height: 561px;
  background: url(../images/logoman-watermark.png) no-repeat;
  opacity: 0.7;
}
/* line 795, ../sass/screen.scss */
#widgets2 > div > div {
  overflow: hidden;
}

/* line 801, ../sass/screen.scss */
#block-block-1 {
  /* E-NEWSLETTER */
  width: 65%;
  margin-right: 2%;
  float: left;
}
/* line 808, ../sass/screen.scss */
#block-block-1 .content {
  padding: 20px 25px;
  background: rgba(255, 255, 255, 0.04);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.02);
  border-bottom: 2px solid rgba(255, 255, 255, 0.02);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
/* line 818, ../sass/screen.scss */
#block-block-1 h3 {
  font-family: "dirty_egoregular";
  font-size: 26px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #bfe962;
  margin-bottom: 8px;
}
/* line 829, ../sass/screen.scss */
#block-block-1 input[type=text],
#block-block-1 input[type=email] {
  background: #1a1a1a;
  border-radius: 3px;
  border: 0;
  width: 94%;
  padding: 11px 3%;
  font-size: 14px;
  margin-bottom: 8px;
  color: #808080;
}

/* line 842, ../sass/screen.scss */
#block-block-2 {
  /* FITNESS TIPS */
  float: left;
  width: 33%;
}
/* line 848, ../sass/screen.scss */
#block-block-2 img {
  margin-left: -16px;
  margin-top: -16px;
  display: block;
}

/* line 861, ../sass/screen.scss */
#block-menu-block-2 {
  float: left;
  width: 33%;
  margin-top: 10px;
}
/* line 867, ../sass/screen.scss */
#block-menu-block-2 h2 {
  margin-bottom: 20px;
}
/* line 872, ../sass/screen.scss */
#block-menu-block-2 ul li {
  margin-right: 2%;
  width: 32%;
}
/* line 877, ../sass/screen.scss */
#block-menu-block-2 ul li.last {
  margin-right: 0;
}
/* line 883, ../sass/screen.scss */
#block-menu-block-2 a {
  font-size: 0;
  color: transparent;
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 86px;
}
/* line 892, ../sass/screen.scss */
#block-menu-block-2 a.facebook {
  background-image: url(../images/facebook-large.png);
}
/* line 896, ../sass/screen.scss */
#block-menu-block-2 a.facebook:hover {
  background-image: url(../images/facebook-large-hover.png);
}
/* line 902, ../sass/screen.scss */
#block-menu-block-2 a.twitter {
  background-image: url(../images/twitter-large.png);
}
/* line 906, ../sass/screen.scss */
#block-menu-block-2 a.twitter:hover {
  background-image: url(../images/twitter-large-hover.png);
}
/* line 912, ../sass/screen.scss */
#block-menu-block-2 a.youtube {
  background-image: url(../images/youtube-large.png);
}
/* line 916, ../sass/screen.scss */
#block-menu-block-2 a.youtube:hover {
  background-image: url(../images/youtube-large-hover.png);
}

/* line 924, ../sass/screen.scss */
.view-team {
  margin-top: 40px;
}
/* line 928, ../sass/screen.scss */
.view-team .views-row {
  padding: 40px 0;
  position: relative;
}
/* line 933, ../sass/screen.scss */
.view-team .views-row:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}
/* line 947, ../sass/screen.scss */
.view-team .views-field-title {
  padding-left: 240px;
}
/* line 952, ../sass/screen.scss */
.view-team .views-field-field-image {
  float: left;
  margin-right: 20px;
}
/* line 957, ../sass/screen.scss */
.view-team .views-field-field-image img {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
/* line 963, ../sass/screen.scss */
.view-team .views-label-field-qualifications {
  font-weight: bold;
  display: block;
}
/* line 969, ../sass/screen.scss */
.view-team .views-field-field-qualifications {
  padding-left: 240px;
}
/* line 973, ../sass/screen.scss */
.view-team .views-field-field-qualifications ul {
  margin-left: 20px;
  list-style-image: url(../images/bullet.png);
}
/* line 980, ../sass/screen.scss */
.view-team .views-field-body {
  padding-left: 240px;
}

/* line 986, ../sass/screen.scss */
ul.collapse {
  list-style: none;
}
/* line 990, ../sass/screen.scss */
ul.collapse > li {
  list-style: none;
  position: relative;
  padding: 0;
}
/* line 999, ../sass/screen.scss */
ul.collapse > li.open > h3 {
  background-image: url(../images/arrow-up.png);
}
/* line 1004, ../sass/screen.scss */
ul.collapse > li.open ul {
  display: block;
}
/* line 1010, ../sass/screen.scss */
ul.collapse > li:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}
/* line 1023, ../sass/screen.scss */
ul.collapse > li > h3 {
  padding: 40px 35px;
  background: url(../images/arrow-down.png) no-repeat center left;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 0!important;
}
/* line 1032, ../sass/screen.scss */
ul.collapse > li > h3:hover {
  opacity: 0.8;
}
/* line 1038, ../sass/screen.scss */
ul.collapse > li > ul {
  list-style: none;
  margin-left: 35px;
  padding-bottom: 15px;
  display: none;
  position: relative;
  top: -20px;
}
/* line 1047, ../sass/screen.scss */
ul.collapse > li > ul li {
  list-style: none;
}
/* line 1051, ../sass/screen.scss */
ul.collapse > li > ul li ul {
  list-style-image: url(../images/bullet.png);
  margin: 10px 0 10px 20px;
}
/* line 1056, ../sass/screen.scss */
ul.collapse > li > ul li ul li {
  list-style-image: url(../images/bullet.png);
}

/* line 1069, ../sass/screen.scss */
.view-success-stories .views-row {
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  clear: both;
  overflow: hidden;
}
/* line 1077, ../sass/screen.scss */
.view-success-stories .views-row:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -544px;
  width: 1088px;
  height: 64px;
  background: url(../images/highlight-section-top.png);
}
/* line 1091, ../sass/screen.scss */
.view-success-stories h3 {
  margin-bottom: 16px!important;
}
/* line 1096, ../sass/screen.scss */
.view-success-stories .views-field-field-before-photo {
  float: left;
  margin-right: 1px;
}
/* line 1102, ../sass/screen.scss */
.view-success-stories .views-field-field-after-photo {
  float: left;
  margin-right: 20px;
}
/* line 1108, ../sass/screen.scss */
.view-success-stories .views-field-field-before-photo ~ .views-field-field-after-photo ~ .views-field-body {
  padding-left: 240px;
}

/* line 1114, ../sass/screen.scss */
ul.primary li a {
  background-color: #404040!important;
}
/* line 1118, ../sass/screen.scss */
ul.primary li a:hover {
  background-color: #606060!important;
}

@media screen and (max-width: 960px) {
  /* line 1132, ../sass/screen.scss */
  #widgets h2,
  #widgets2 h2 {
    margin-left: 10px;
  }

  /* line 1137, ../sass/screen.scss */
  #widgets2 #block-block-2 a img {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  /* line 1146, ../sass/screen.scss */
  #header {
    padding-bottom: 10px;
  }
  /* line 1150, ../sass/screen.scss */
  #header > div:after {
    display: none;
    content: none;
  }

  /* line 1157, ../sass/screen.scss */
  #block-system-main-menu {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    z-index: 100;
  }
  /* line 1165, ../sass/screen.scss */
  #block-system-main-menu:before {
    display: block;
    content: " ";
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -93px;
    height: 8px;
    width: 29px;
    background: url(../images/mobile-menu-arrow.png) no-repeat;
  }
  /* line 1178, ../sass/screen.scss */
  #block-system-main-menu.nav-open {
    display: block;
  }
  /* line 1183, ../sass/screen.scss */
  #block-system-main-menu .content {
    height: auto;
  }
  /* line 1187, ../sass/screen.scss */
  #block-system-main-menu .content > ul {
    background: #7fb013 url(../images/mobile-menu-bg.png) repeat-x top;
    padding: 7px 0;
    border-radius: 4px;
  }
  /* line 1193, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li {
    float: none;
    margin-right: 0;
    border-top: 1px solid rgba(50, 73, 0, 0.26);
    font-size: 18px;
  }
  /* line 1200, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.last {
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }
  /* line 1204, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.last a {
    border-bottom: 1px solid rgba(50, 73, 0, 0.26);
  }
  /* line 1210, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li:hover.expanded:before {
    display: none;
    content: none;
  }
  /* line 1216, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li.expanded {
    background: url(../images/mobile-menu-item-arrow.png) no-repeat 96% 17px;
  }
  /* line 1221, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li a {
    color: white;
    padding-left: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    line-height: 38px;
  }
  /* line 1229, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li a:hover, #block-system-main-menu .content > ul > li a:active {
    background: url(../images/mobile-menu-item-hover.png) repeat-x top;
    color: #c2e96b;
  }
  /* line 1236, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul {
    display: block;
    position: static;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.15);
  }
  /* line 1246, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li {
    border-top: 1px solid rgba(50, 73, 0, 0.26);
  }
  /* line 1250, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li.last {
    border-bottom: 0;
  }
  /* line 1254, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li.last a {
    border-bottom: 0;
  }
  /* line 1260, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li a {
    color: white;
    padding-left: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    line-height: 38px;
  }
  /* line 1268, ../sass/screen.scss */
  #block-system-main-menu .content > ul > li ul li a:hover, #block-system-main-menu .content > ul > li ul li a:active {
    background: url(../images/mobile-menu-item-hover.png) repeat-x top;
  }

  /* line 1280, ../sass/screen.scss */
  #block-menu-block-3 {
    display: none;
  }

  /* line 1285, ../sass/screen.scss */
  #footer {
    text-align: center;
    padding-bottom: 80px;
  }
  /* line 1290, ../sass/screen.scss */
  #footer > div {
    background-image: none;
  }
  /* line 1294, ../sass/screen.scss */
  #footer > div > div {
    padding-right: 0;
  }
  /* line 1301, ../sass/screen.scss */
  #footer #copyright,
  #footer #site-by-cci {
    float: none;
    display: inline;
  }

  /* line 1308, ../sass/screen.scss */
  #logo {
    text-align: center;
  }

  /* line 1317, ../sass/screen.scss */
  #block-block-3,
  #block-block-3 div,
  #block-block-3 p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  /* line 1324, ../sass/screen.scss */
  #block-block-3 a {
    display: inline-block;
    float: left;
  }

  /* line 1331, ../sass/screen.scss */
  #block-menu-block-1 {
    position: static;
  }
  /* line 1337, ../sass/screen.scss */
  #block-menu-block-1,
  #block-menu-block-1 div,
  #block-menu-block-1 ul {
    display: inline-block;
    vertical-align: top;
  }

  /* line 1344, ../sass/screen.scss */
  .region-header {
    text-align: center;
    margin-top: -5px;
    padding-bottom: 8px;
  }

  /* line 1351, ../sass/screen.scss */
  #slogan .text {
    font-size: 38px;
  }

  /* line 1356, ../sass/screen.scss */
  #widgets .views-row {
    width: auto;
    margin: 0 10px 10px 10px !important;
  }
  /* line 1361, ../sass/screen.scss */
  #widgets .views-row > div {
    min-height: 0;
  }

  /* line 1369, ../sass/screen.scss */
  #widgets2 #block-block-1 {
    width: auto;
    margin: 0 10px 10px 10px;
    float: none;
  }
  /* line 1376, ../sass/screen.scss */
  #widgets2 #block-block-2 {
    width: 55%;
    margin-right: 1%;
    margin-top: 10px;
  }
  /* line 1382, ../sass/screen.scss */
  #widgets2 #block-block-2 a img {
    width: auto;
  }
  /* line 1388, ../sass/screen.scss */
  #widgets2 #block-menu-block-2 {
    margin-top: 0;
    width: 44%;
    margin-top: 10px;
  }

  /* line 1396, ../sass/screen.scss */
  #block-system-main #node-2 table.black {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  /* line 1407, ../sass/screen.scss */
  .front #block-system-main img {
    display: none;
  }

  /* line 1412, ../sass/screen.scss */
  #slogan .text {
    font-size: 30px;
  }

  /* line 1420, ../sass/screen.scss */
  #widgets2 #block-block-2 {
    width: 100%;
    margin: 10px;
  }
  /* line 1425, ../sass/screen.scss */
  #widgets2 #block-block-2 a {
    display: block;
    text-align: center;
  }
  /* line 1430, ../sass/screen.scss */
  #widgets2 #block-block-2 a img {
    display: inline;
  }
  /* line 1437, ../sass/screen.scss */
  #widgets2 #block-menu-block-2 {
    width: 100%;
    margin: 10px;
  }

  /* line 1444, ../sass/screen.scss */
  #widgets2 > div:after {
    display: none;
    content: none;
  }

  /* line 1452, ../sass/screen.scss */
  .view-team .views-field-field-image {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  /* line 1461, ../sass/screen.scss */
  .view-team .views-field-title,
  .view-team .views-field-field-qualifications,
  .view-team .views-field-body {
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 1472, ../sass/screen.scss */
  #slogan .text {
    font-size: 22px;
  }
}
