table.black
{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  max-width: 350px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;

  &.last
  {
    margin-right: 0;
  }

  tbody
  {
    border: 0;
  }
  td, th
  {
    border: 1px solid black;
  }
  th
  {
    @include condensed();
    padding: 15px;
    color: $teal;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    line-height: 1;
  }
  td
  {
    line-height: 1;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.0625em;

    span
    {
      font-weight: normal;
      font-size: 0.75em;
    }
  }
}

.block--free-trial
{
  clear: both;
  padding: 100px 25px;
  background: url(../images/bg-free-trial.jpg) no-repeat center center;
  background-size: cover;
  color: white;

  & > div
  {
    max-width: 1100px;
    margin: 0 auto;
  }
  h2
  {
    font-size: 2.75em;
  }
}
