@font-face {
  font-family: 'dirty_egoregular';
  src: url("../fonts/dirtyego/dirtyego-webfont.eot");
  src: url("../fonts/dirtyego/dirtyego-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dirtyego/dirtyego-webfont.svg#dirty_egoregular") format("svg"), url("../fonts/dirtyego/dirtyego-webfont.woff") format("woff"), url("../fonts/dirtyego/dirtyego-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #0d0d0d;
  color: white;
  font-family: "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

p {
  margin-bottom: 0.8em; }

tbody {
  border-top: 0; }

a,
a:visited,
li a.active {
  color: #bfe962;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

a.green-button,
button.green-button,
input.green-button {
  display: block;
  width: 159px;
  padding: 16px 16px 16px 17px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  background: url(../images/green-button.png) no-repeat;
  text-decoration: none;
  cursor: pointer;
  margin: -16px -16px -16px -17px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  border: 0;
  box-sizing: initial;
  -moz-box-sizing: initial;
  -webkit-box-sizing: initial;
  font-weight: 500; }

#page-wrapper {
  width: 100%;
  overflow: hidden; }

#navigation,
#main-wrapper,
#widgets,
#widgets2,
#footer {
  padding-left: 10px;
  padding-right: 10px; }
  #navigation > div,
  #main-wrapper > div,
  #widgets > div,
  #widgets2 > div,
  #footer > div {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    position: relative; }

.block-menu-block ul,
.block-menu ul {
  list-style: none; }
  .block-menu-block ul li,
  .block-menu ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0; }
    .block-menu-block ul li a,
    .block-menu ul li a {
      color: white;
      text-decoration: none; }
      .block-menu-block ul li a:hover,
      .block-menu ul li a:hover {
        color: #bfe962; }

#block-block-3 {
  display: none;
  float: right;
  margin-left: 15px; }
  @media (max-width: 720px) {
    #block-block-3 {
      display: block; } }
  #block-block-3 a {
    display: block;
    height: 35px;
    width: 35px;
    background: url(../images/menu-ring.png) no-repeat;
    background-size: contain;
    line-height: 35px;
    color: white;
    font-size: 10px;
    font-weight: 500; }
    #block-block-3 a:hover {
      background-image: url(../images/menu-ring-hover.png);
      color: #bfe962;
      text-decoration: none; }

#block-menu-block-1 {
  float: right; }
  #block-menu-block-1 ul li {
    margin-left: 10px; }
  #block-menu-block-1 a {
    font-size: 0;
    color: transparent;
    display: block;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px; }
    #block-menu-block-1 a.facebook {
      background-image: url(../images/facebook.png?v2); }
      #block-menu-block-1 a.facebook:hover {
        background-image: url(../images/facebook-hover.png?v2); }
    #block-menu-block-1 a.twitter {
      background-image: url(../images/twitter.png?v2); }
      #block-menu-block-1 a.twitter:hover {
        background-image: url(../images/twitter-hover.png?v2); }
    #block-menu-block-1 a.youtube {
      background-image: url(../images/youtube.png?v2); }
      #block-menu-block-1 a.youtube:hover {
        background-image: url(../images/youtube-hover.png?v2); }
    #block-menu-block-1 a.login {
      font-size: 16px;
      color: white;
      width: auto;
      line-height: 35px; }
      #block-menu-block-1 a.login:hover {
        color: #bfe962; }

#block-system-main-menu .content {
  float: right;
  clear: right; }
  #block-system-main-menu .content > ul > li {
    font-size: 15px;
    margin-right: 16px;
    position: relative; }
    @media (max-width: 860px) {
      #block-system-main-menu .content > ul > li {
        font-size: 14px; } }
    #block-system-main-menu .content > ul > li.last {
      margin-right: 0; }
    #block-system-main-menu .content > ul > li:hover.expanded:before {
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -3px;
      display: block;
      content: " ";
      border-bottom: 7px solid rgba(147, 192, 48, 0.97);
      border-bottom: 7px solid #bfe962;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      z-index: 101; }
    #block-system-main-menu .content > ul > li:hover ul {
      display: block; }
    #block-system-main-menu .content > ul > li a {
      line-height: 50px;
      display: block;
      font-weight: 500; }
      #block-system-main-menu .content > ul > li a:hover {
        text-decoration: none; }
    #block-system-main-menu .content > ul > li ul {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 185px;
      padding: 8px 0;
      z-index: 100;
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
      border-radius: 3px; }
      #block-system-main-menu .content > ul > li ul:after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #93c030;
        background: -moz-linear-gradient(top, #BFE962 0%, #7FB013 100%);
        background: -webkit-linear-gradient(top, #BFE962 0%, #7FB013 100%);
        background: linear-gradient(to bottom, #BFE962 0%, #7FB013 100%);
        z-index: -1;
        opacity: 0.95;
        border-radius: 3px; }
      #block-system-main-menu .content > ul > li ul li {
        float: none;
        margin: 0;
        border-top: 1px solid rgba(50, 73, 0, 0.13);
        font-weight: 400; }
        #block-system-main-menu .content > ul > li ul li.last {
          border-bottom: 1px solid rgba(255, 255, 255, 0.085); }
          #block-system-main-menu .content > ul > li ul li.last a {
            border-bottom: 1px solid rgba(50, 73, 0, 0.13); }
        #block-system-main-menu .content > ul > li ul li a {
          color: black;
          line-height: 1;
          padding: 6px 12px;
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.085); }
          #block-system-main-menu .content > ul > li ul li a:hover {
            color: #bfe962;
            background: url(../images/menu-hover.png) repeat-x;
            background-size: 100% 100%; }
    #block-system-main-menu .content > ul > li .about ~ ul {
      left: -28px; }

#navigation {
  padding-top: 10px;
  padding-bottom: 0;
  background: url(../images/slate1.png) repeat; }
  #navigation > div {
    max-width: 1180px; }

#navigation > div > div {
  position: relative;
  z-index: 2; }
  #navigation > div > div:after {
    display: block;
    content: " ";
    clear: both; }

#navigation > div:before {
  display: block;
  content: " ";
  width: 942px;
  height: 202px;
  background: url(../images/highlight-header.png) no-repeat;
  z-index: 0;
  position: absolute;
  left: -300px;
  top: -25px; }

#navigation > div:after {
  display: block;
  content: " ";
  width: 561px;
  height: 561px;
  background: url(../images/logoman-watermark.png) no-repeat;
  z-index: 0;
  position: absolute;
  right: -130px;
  top: -65px;
  opacity: 0.7; }

#home-social {
  background: url(../images/slate1.png) repeat;
  clear: both;
  padding: 0 25px; }
  #home-social > div {
    padding: 40px 0;
    max-width: 1060px;
    margin: 0 auto;
    background: url(../images/highlight-section-top.png) no-repeat top center; }
    #home-social > div:after {
      content: "";
      display: block;
      clear: both; }

.block--home-social {
  width: 33.3333%;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center; }
  @media (max-width: 760px) {
    .block--home-social {
      width: 360px;
      max-width: 100%;
      float: none;
      margin: 0 auto 30px auto; } }
  .block--home-social .about {
    font-size: 0;
    display: block;
    height: 135px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    max-width: 260px;
    margin: 0 auto 25px auto; }
  .block--home-social > h2 {
    position: absolute;
    left: -999999px; }
  .block--home-social .fb, .block--home-social .ig {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 0 5px 36px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 1; }
  .block--home-social .fb {
    background-image: url(../images/facebook-small-white.png); }
    .block--home-social .fb:hover {
      background-image: url(../images/facebook-small-green.png); }
  .block--home-social .ig {
    background-image: url(../images/instagram-small-white.png); }
    .block--home-social .ig:hover {
      background-image: url(../images/instagram-small-green.png); }

.block--home-social--onedge .about {
  background-image: url(../images/home-social-onedge.png); }

.block--home-social--pure .about {
  background-image: url(../images/home-social-pure.png); }

.block--home-social--lift .about {
  background-image: url(../images/home-social-lift.png); }

#main-wrapper {
  clear: both;
  background: url(../images/slate2.png);
  position: relative; }
  #main-wrapper:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -544px;
    width: 1088px;
    height: 64px;
    background: url(../images/highlight-section-top.png); }
  #main-wrapper > div {
    padding: 30px 0;
    overflow: hidden; }

.front #main-wrapper > div {
  background: url(../images/weightlifter.png) no-repeat bottom right; }

#footer {
  clear: both;
  background: url(../images/highlight-section-top.png) no-repeat top center;
  padding: 40px 10px 150px 10px; }
  #footer #copyright {
    float: left;
    clear: left;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #878787;
    color: #878787;
    font-size: 10px;
    line-height: 100%; }
  #footer #site-by-cci {
    float: left;
    color: #878787;
    font-size: 10px;
    line-height: 100%; }
    #footer #site-by-cci a {
      color: #878787; }
      #footer #site-by-cci a:hover {
        color: #bfe962; }
  #footer #block-block-4 p {
    margin: 0; }
  #footer #block-block-4 a {
    float: right;
    display: block;
    width: 66px;
    height: 66px;
    background: url(../images/logoman-small.png) no-repeat;
    font-size: 0;
    color: transparent; }
    #footer #block-block-4 a:hover {
      background-image: url(../images/logoman-small-hover.png); }

#block-menu-block-3 {
  overflow: hidden;
  margin-bottom: 40px; }
  #block-menu-block-3 li {
    margin-right: 16px; }
    #block-menu-block-3 li a {
      color: #878787;
      font-size: 15px;
      font-weight: 400; }
      #block-menu-block-3 li a:hover {
        color: #bfe962; }

#logo {
  float: left;
  margin-top: 5px; }
  #logo img {
    max-width: 100%;
    height: auto !important;
    display: block; }
    @media (max-width: 400px) {
      #logo img {
        max-width: 250px; } }

#page-title {
  color: #bfe962;
  font-family: "dirty_egoregular", "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 75px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75); }

#block-system-main {
  text-shadow: 1px 1px 2px black; }
  #block-system-main img {
    max-width: 100%; }
  #block-system-main h2 {
    text-transform: uppercase;
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    padding-left: 35px;
    background: url(../images/logoman-icon.png) no-repeat left center;
    line-height: 23px;
    margin-bottom: 25px; }
  #block-system-main h3 {
    font-family: "dirty_egoregular";
    font-size: 26px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #bfe962;
    margin-bottom: 8px; }
  #block-system-main h4 {
    color: #bfe962;
    font-size: 1.15em;
    font-size: 1em; }
  #block-system-main table {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    font-size: 16px;
    font-weight: bold; }
    #block-system-main table tbody {
      border: 0; }
    #block-system-main table td, #block-system-main table th {
      background-color: #1a1a1a;
      text-align: center;
      padding: 12px;
      width: 25%;
      vertical-align: top; }
      #block-system-main table td span, #block-system-main table th span {
        font-size: 12px;
        color: white;
        font-weight: normal; }
    #block-system-main table th {
      color: #bfe962;
      border-bottom: 0; }
  #block-system-main #node-2 table {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 20px;
    float: left;
    display: block; }
    #block-system-main #node-2 table td {
      height: 38px; }
    #block-system-main #node-2 table th {
      height: 57px; }
  #block-system-main .glow {
    position: relative;
    padding-top: 40px; }
    #block-system-main .glow:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -544px;
      width: 1088px;
      height: 64px;
      background: url(../images/highlight-section-top.png); }
  #block-system-main .box {
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.04);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.02);
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    border-left: 2px solid rgba(0, 0, 0, 0.3); }
  #block-system-main ul, #block-system-main ol {
    margin-left: 20px;
    list-style-image: url(../images/bullet.png); }

#widgets {
  display: none; }

.front #widgets {
  display: block; }

#widgets,
#widgets2 {
  background: url(../images/slate1.png) repeat;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  clear: both; }
  #widgets h2,
  #widgets2 h2 {
    text-transform: uppercase;
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    padding-left: 35px;
    background: url(../images/logoman-icon.png) no-repeat left center;
    line-height: 23px;
    margin-bottom: 25px; }
  #widgets:before,
  #widgets2:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -544px;
    width: 1088px;
    height: 64px;
    background: url(../images/highlight-section-top.png); }

#widgets .views-row {
  width: 30%;
  margin-right: 5%;
  float: left;
  background: url(../images/slate2.png) repeat; }
  #widgets .views-row.views-row-last {
    margin-right: 0; }
  #widgets .views-row > div {
    padding: 20px 25px 60px 25px;
    position: relative;
    min-height: 150px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.02);
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    border-left: 2px solid rgba(0, 0, 0, 0.3); }
  #widgets .views-row .views-field-title {
    margin-bottom: 10px; }
    #widgets .views-row .views-field-title a {
      font-family: "dirty_egoregular";
      font-size: 26px;
      font-weight: normal;
      -webkit-font-smoothing: antialiased; }
  #widgets .views-row .green-button {
    position: absolute;
    bottom: 20px;
    left: 25px;
    z-index: 1; }

.region-widgets2 {
  position: relative;
  z-index: 1; }

#widgets2 > div:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -255px;
  left: -130px;
  width: 561px;
  height: 561px;
  background: url(../images/logoman-watermark.png) no-repeat;
  opacity: 0.7; }

#widgets2 > div > div {
  overflow: hidden; }

#block-block-1 {
  /* E-NEWSLETTER */
  width: 65%;
  margin-right: 2%;
  float: left; }
  #block-block-1 .content {
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.04);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.02);
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
    border-left: 2px solid rgba(0, 0, 0, 0.3); }
  #block-block-1 h3 {
    font-family: "dirty_egoregular";
    font-size: 26px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #bfe962;
    margin-bottom: 8px; }
  #block-block-1 input[type=text],
  #block-block-1 input[type=email] {
    background: #1a1a1a;
    border-radius: 3px;
    border: 0;
    width: 94%;
    padding: 11px 3%;
    font-size: 14px;
    margin-bottom: 8px;
    color: #808080; }

#block-block-2 {
  /* FITNESS TIPS */
  float: left;
  width: 33%; }
  #block-block-2 img {
    margin-left: -16px;
    margin-top: -16px;
    display: block; }

#block-menu-block-2 {
  float: left;
  width: 33%;
  margin-top: 10px; }
  #block-menu-block-2 h2 {
    margin-bottom: 20px; }
  #block-menu-block-2 ul li {
    margin-right: 1.3333%;
    width: 31%; }
    #block-menu-block-2 ul li.last {
      margin-right: 0; }
  #block-menu-block-2 a {
    font-size: 0;
    color: transparent;
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    height: 86px; }
    #block-menu-block-2 a.facebook {
      background-image: url(../images/facebook-large.png); }
      #block-menu-block-2 a.facebook:hover {
        background-image: url(../images/facebook-large-hover.png); }
    #block-menu-block-2 a.twitter {
      background-image: url(../images/twitter-large.png); }
      #block-menu-block-2 a.twitter:hover {
        background-image: url(../images/twitter-large-hover.png); }
    #block-menu-block-2 a.youtube {
      background-image: url(../images/youtube-large.png); }
      #block-menu-block-2 a.youtube:hover {
        background-image: url(../images/youtube-large-hover.png); }
    #block-menu-block-2 a.login {
      display: none; }

.view-team {
  margin-top: 40px; }
  .view-team .views-row {
    padding: 40px 0;
    position: relative; }
    .view-team .views-row:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -544px;
      width: 1088px;
      height: 64px;
      background: url(../images/highlight-section-top.png); }
  .view-team .views-field-title {
    padding-left: 240px; }
  .view-team .views-field-field-image {
    float: left;
    margin-right: 20px; }
    .view-team .views-field-field-image img {
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5); }
  .view-team .views-label-field-qualifications {
    font-weight: bold;
    display: block; }
  .view-team .views-field-field-qualifications {
    padding-left: 240px; }
    .view-team .views-field-field-qualifications ul {
      margin-left: 20px;
      list-style-image: url(../images/bullet.png); }
  .view-team .views-field-body {
    padding-left: 240px; }

ul.collapse {
  list-style: none; }
  ul.collapse > li {
    list-style: none;
    position: relative;
    padding: 0; }
    ul.collapse > li.open > h3 {
      background-image: url(../images/arrow-up.png); }
    ul.collapse > li.open ul {
      display: block; }
    ul.collapse > li:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -544px;
      width: 1088px;
      height: 64px;
      background: url(../images/highlight-section-top.png); }
    ul.collapse > li > h3 {
      padding: 40px 35px;
      background: url(../images/arrow-down.png) no-repeat center left;
      cursor: pointer;
      position: relative;
      z-index: 1;
      margin-bottom: 0 !important; }
      ul.collapse > li > h3:hover {
        opacity: 0.8; }
    ul.collapse > li > ul {
      list-style: none;
      margin-left: 35px;
      padding-bottom: 15px;
      display: none;
      position: relative;
      top: -20px; }
      ul.collapse > li > ul li {
        list-style: none; }
        ul.collapse > li > ul li ul {
          list-style-image: url(../images/bullet.png);
          margin: 10px 0 10px 20px; }
          ul.collapse > li > ul li ul li {
            list-style-image: url(../images/bullet.png); }

.view-success-stories .views-row {
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  clear: both;
  overflow: hidden; }
  .view-success-stories .views-row:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -544px;
    width: 1088px;
    height: 64px;
    background: url(../images/highlight-section-top.png); }

.view-success-stories h3 {
  margin-bottom: 16px !important; }

.view-success-stories .views-field-field-before-photo {
  float: left;
  margin-right: 1px; }

.view-success-stories .views-field-field-after-photo {
  float: left;
  margin-right: 20px; }

.view-success-stories .views-field-field-before-photo ~ .views-field-field-after-photo ~ .views-field-body {
  padding-left: 240px; }

ul.primary li a {
  background-color: #404040 !important; }
  ul.primary li a:hover {
    background-color: #606060 !important; }

.view-header-images .node-header-images.node-teaser {
  position: relative;
  padding: 70px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .view-header-images .node-header-images.node-teaser > div {
    max-width: 1040px;
    margin: 0 auto; }
    .view-header-images .node-header-images.node-teaser > div:after {
      content: "";
      display: block;
      clear: both; }

.view-header-images .green-button {
  font-size: 1em; }

.view-header-images .field-name-field-left-content {
  float: left;
  width: 350px;
  padding: 35px 25px;
  background: url(../images/slate2.png);
  color: white; }

.view-header-images .field-name-field-right-content {
  float: right;
  width: 50%;
  height: 250px;
  line-height: 250px; }
  .view-header-images .field-name-field-right-content img {
    display: inline-block;
    max-width: 100%;
    height: auto !important;
    vertical-align: middle; }

.view-header-images .views-row {
  display: none; }

.view-header-images .views-row-first,
.view-header-images .slick-slide {
  display: block; }

.view-header-images .slick-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .view-header-images .slick-dots li {
    display: inline-block; }
  .view-header-images .slick-dots button {
    border: 0;
    font-size: 0;
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background: transparent;
    cursor: pointer; }
    .view-header-images .slick-dots button:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      background: white;
      border-radius: 7px; }
  .view-header-images .slick-dots .slick-active button:before {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    background: #bfe962;
    background: linear-gradient(to bottom, #bfe962, #7fb013); }

@media (max-width: 860px) {
  .view-header-images .field-name-field-left-content {
    float: none;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box; }
  .view-header-images .field-name-field-right-content {
    float: none;
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    line-height: normal;
    padding-top: 20px; } }

.view-header-images h3 {
  color: #bfe962;
  font-family: 'dirty_egoregular';
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0.2em; }

@media screen and (max-width: 960px) {
  #widgets h2,
  #widgets2 h2 {
    margin-left: 10px; }
  #widgets2 #block-block-2 a img {
    width: 100%; } }

@media screen and (max-width: 720px) {
  #navigation {
    padding-bottom: 10px; }
    #navigation > div:after {
      display: none;
      content: none; }
  #block-system-main-menu {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    z-index: 100;
    top: 45px; }
    #block-system-main-menu:before {
      display: block;
      content: " ";
      position: absolute;
      top: -7px;
      right: 4px;
      margin-left: -93px;
      height: 8px;
      width: 29px;
      background: url(../images/mobile-menu-arrow.png) no-repeat; }
    #block-system-main-menu.nav-open {
      display: block; }
    #block-system-main-menu .content {
      height: auto;
      float: none; }
      #block-system-main-menu .content > ul {
        background: #7fb013 url(../images/mobile-menu-bg.png) repeat-x top;
        padding: 7px 0;
        border-radius: 4px; }
        #block-system-main-menu .content > ul > li {
          float: none;
          margin-right: 0;
          border-top: 1px solid rgba(50, 73, 0, 0.26);
          font-size: 18px; }
          #block-system-main-menu .content > ul > li.last {
            border-bottom: 1px solid rgba(255, 255, 255, 0.17); }
            #block-system-main-menu .content > ul > li.last a {
              border-bottom: 1px solid rgba(50, 73, 0, 0.26); }
          #block-system-main-menu .content > ul > li:hover.expanded:before {
            display: none;
            content: none; }
          #block-system-main-menu .content > ul > li.expanded {
            background: url(../images/mobile-menu-item-arrow.png) no-repeat 96% 17px; }
          #block-system-main-menu .content > ul > li a {
            color: white;
            padding-left: 15px;
            border-top: 1px solid rgba(255, 255, 255, 0.17);
            line-height: 38px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
            #block-system-main-menu .content > ul > li a:hover, #block-system-main-menu .content > ul > li a:active {
              background: url(../images/mobile-menu-item-hover.png) repeat-x top;
              background-size: 100% 100%;
              color: #c2e96b; }
          #block-system-main-menu .content > ul > li ul {
            display: block;
            position: static;
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            background-color: rgba(255, 255, 255, 0.15); }
            #block-system-main-menu .content > ul > li ul li {
              border-top: 1px solid rgba(50, 73, 0, 0.26); }
              #block-system-main-menu .content > ul > li ul li.last {
                border-bottom: 0; }
                #block-system-main-menu .content > ul > li ul li.last a {
                  border-bottom: 0; }
              #block-system-main-menu .content > ul > li ul li a {
                color: white;
                padding: 10px 20px 10px 50px;
                border-top: 1px solid rgba(255, 255, 255, 0.17);
                line-height: 1; }
                #block-system-main-menu .content > ul > li ul li a:hover, #block-system-main-menu .content > ul > li ul li a:active {
                  background: url(../images/mobile-menu-item-hover.png) repeat-x top;
                  background-size: 100% 100%; }
  #block-menu-block-3 {
    display: none; }
  #footer {
    text-align: center;
    padding-bottom: 80px; }
    #footer > div {
      background-image: none; }
      #footer > div > div {
        padding-right: 0; }
    #footer #copyright,
    #footer #site-by-cci {
      float: none;
      display: inline; }
  #logo {
    text-align: center; }
  #block-menu-block-1 {
    position: static; }
    #block-menu-block-1,
    #block-menu-block-1 div,
    #block-menu-block-1 ul {
      display: inline-block;
      vertical-align: top; }
  .region-navigation {
    text-align: center;
    margin-top: -5px;
    padding-bottom: 8px; }
  #slogan .text {
    font-size: 38px; }
  #widgets .views-row {
    width: auto;
    margin: 0 10px 10px 10px !important; }
    #widgets .views-row > div {
      min-height: 0; }
  #widgets2 #block-block-1 {
    width: auto;
    margin: 0 10px 10px 10px;
    float: none; }
  #widgets2 #block-block-2 {
    width: 55%;
    margin-right: 1%;
    margin-top: 10px; }
    #widgets2 #block-block-2 a img {
      width: auto; }
  #widgets2 #block-menu-block-2 {
    margin-top: 0;
    width: 44%;
    margin-top: 10px; }
  #block-system-main #node-2 table {
    float: none;
    margin-right: 0;
    width: 100%; } }

@media screen and (max-width: 540px) {
  .front #block-system-main img {
    display: none; }
  #slogan .text {
    font-size: 30px; }
  #widgets2 #block-block-2 {
    width: 100%;
    margin: 10px; }
    #widgets2 #block-block-2 a {
      display: block;
      text-align: center; }
      #widgets2 #block-block-2 a img {
        display: inline; }
  #widgets2 #block-menu-block-2 {
    width: 100%;
    margin: 10px; }
  #widgets2 > div:after {
    display: none;
    content: none; }
  .view-team .views-field-field-image {
    float: none;
    margin-right: 0;
    text-align: center; }
  .view-team .views-field-title,
  .view-team .views-field-field-qualifications,
  .view-team .views-field-body {
    padding-left: 0; } }

@media screen and (max-width: 480px) {
  #slogan .text {
    font-size: 22px; } }
